body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

div.container {
  margin: 5px;
}

img {
  width: 214px;
  height: 317px;
}

/*omdb-search input{
  display: none;
}*/
